{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'register shop' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="card card-body bg-light" >
                <h2>{% trans 'Register your shop here' %}</h2>
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=partner_register_form %}
                <button name="partner_register_submit" type="submit" value="create" class="btn btn-lg btn-primary" data-loading-text="{% trans "creating..." %}">{% trans 'create' %}</button>
            </form>
        </div>
    </div>

{% endblock content %}
